.address_card{
    width: 90vw;
    max-width: 250px;
    max-height: 200px;
    flex-direction: column;
    padding: 10px 20px;
    border-radius: 1.2rem;
    border: 1px solid var(--black-transparent-color);
    justify-content: space-between;
}



@media(min-width:768px){
    .address_card.card_empty{
        padding: 0;
    }
}
@media(min-width:1024px){
    
    .address_card .card-content{
        margin-bottom: 0;
    }
}