.checkout_card{
    width: 90vw;
    max-width: 600px;
    max-height: 130px;
}


.card_amount_container{
    width: 100%;
    max-width: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card_amount_container *{
    margin: 0 !important;
}
.trash.remove_card_btn{
    font-size: clamp(1.5rem, 2vw + .2rem, 1.7rem);
    color: #000;
    cursor: pointer;
}
.card_product_amount{
    font-size: clamp(1.2rem, 2vw + .25rem, 1.5rem);
}

@media(min-width:1024px){
    
    .card_amount_container{
        max-width: 140px;
    }
}