.footer{
    width: 100%;
    background-color: #fff;
    height: fit-content;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "footer_logo_container"
        "footer_information_container"
        "footer_socials_container"
        "footer_copyright_container";
    gap: 1rem; /* Espaciado entre elementos */
    padding: 1rem;
    position: relative;
    z-index: 1000;
}
.footer_logo_container {
    grid-area: footer_logo_container;
}

.footer_information_container {
    grid-area: footer_information_container;
}

.footer_socials_container {
    grid-area: footer_socials_container;
}

.footer_copyright_container {
    grid-area: footer_copyright_container;
    text-align: center;
}

.footer i{
    font-size: clamp(1.5rem, 2vw + .35rem, 2.2rem);
}
.footer .text{
    font-size: clamp(1rem, 2vw + .35rem, 1.25rem);
}
.footer>div{
    width: 100%;
}
.footer>div.footer_socials_container{
    width: 45%;
    margin: 1vh auto;
    display: flex;
    justify-content: space-evenly;
}
.footer_logo_container{
    height: 15vh;
    margin-bottom: 1vh;
}
.footer_information_container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.logo_text_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logo_text_container{
    margin-bottom: 1vh;
}
.copyright_text{
    color: var(--dark-grey-color);
    font-size: clamp(.8rem, 1vw + .05rem, 1rem);
}

@media (min-width:768px){
    .footer {
        grid-template-columns: 1fr 1fr; /* Ajusta proporción */
        grid-template-areas:
            "footer_logo_container footer_information_container"
            "footer_socials_container footer_information_container"
            "footer_copyright_container footer_copyright_container";
        gap: 1rem 2rem;
    }

    .footer_logo_container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .logo_text_container{
        flex-direction: row;
    }
    .logo_text_container i{
        margin-right: 15px;
    }
    .footer_information_container{
        align-items: flex-start;
    }
}
@media (min-width: 1024px) { /* Desktop (opcional) */
    
}