*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
    scroll-behavior: smooth;
    color: #000;
}

/* TODO - DIFFERENT RED TONES*/ 
:root {
    --light-grey-color: #e7e6e6;
    --grey-color: #dfdede;
    --dark-grey-color: #646464;
    --light-red-color: #ce7c7f;
    --red-color:#bf0c12;
    --background-grey: #f9f9f9;
    --box-shadow-color: rgba(0, 0, 0, 0.2);
    --black-transparent-color: rgba(0, 0, 0, .4)
}
.hidden{
    display: none !important;
}
img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
body{
    background-color: var(--light-grey-color);
}
.main{
    display: flex;
    overflow-x: hidden;
    position: relative;
}
/* CARDS */
.card{
    position: relative;
    display: flex;
    box-shadow: 2px 5px 3px var(--box-shadow-color); /* Ajusta los valores según tus preferencias */
    border-radius: 1rem;
    height: auto;
    background-color: #fff;
    overflow: hidden;
}
.card .card-top-content{
    justify-content: space-between;
}
.card-image{
    width: 35%;
    height: 100%;
    padding: 15px;
}
.card-top-content{
    width: 100%;
    height: 20%;
    border-bottom: 2px solid var(--black-transparent-color);
    display: flex;
    align-items: center;
}
.card_bottom_content{
    display: flex;
    width: 100%;
}
.card-content{
    width: 60%;
    height: 100%;
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card_text{
    margin: 0;
    margin-bottom: 2.5px;
    height: fit-content;
}
.card-header,.card-price{
    color: #000;
    font-size: clamp(1.15rem, 2vw + .2rem, 1.5rem);
    font-weight: 600;
    margin: 0;
}
.card-desc{
    color: #aaa;
}
/*  */
.number_button{
    padding: 5px !important;
    border-radius: 50% !important;
}
.number_button *{
    color: #000;
}
.disabled{
    opacity: .4;
    pointer-events: none;
}
.margin-field{
    margin: 10px;
}
a{
    color: unset;
}
ul{
    list-style-type: none;
}
.unreachable {
    pointer-events: none;
}
.title {
    color: var(--red-color);
}
.custom-btn {
    border: 0;
    outline: 0;
    padding: 3% 0;
    border-radius: 5px;
}

.page-title{
    font-size: clamp(1.75rem, 3vw + .3rem, 2.2rem);
    font-weight: 600;
    width: 100%;
}
.ui.modal .header{
    position: relative;
}
.close-modal-btn {
    position: absolute;
    top: 50%;
    right: 15px;
    font-size: 2rem;
    transform: translateY(-50%);
    cursor: pointer;
}
.tablet-only{
    display: none;
}
.ui.breadcrumb a.section{
    color: #000;
}
.ui.menu.header-dropdown > .item:hover{
    background: none !important;
}
.breadcrumb .section.active{
    color: var(--red-color);
  }

.content-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

.category-title {
    color: var(--red-color);
    text-transform: uppercase;
    font-size: 20px;
}
label{
    font-weight: 600;
    font-size: 1.25rem;
}
.view_message_container{
    position: absolute;
    bottom: 10px;
    right: 0;
    font-size: .8rem;
    z-index: 100000;
}
.ui.icon.input>i.icon{
    cursor: pointer;
}
.yellow{
    color: #bcbc16 !important;
}
.red{
    color: var(--red-color) !important;
}
.green{
    color: #0c970c !important;
}
.ui.toggle.checkbox input:checked~.box:before, .ui.toggle.checkbox input:checked~label:before {
    background-color: var(--red-color) !important;
}
@media(min-width:768px){
    .mobile-only{
        display: none !important;
    };
    .tablet-only{
        display: inital;
    }

    .content-container {
        width: 90%;
    }

    .category-title {
        font-size: 22px;
    }
}
@media(min-width:1024px){
    .mobile-only{
        display: none !important;
    }
    .card-content{
        padding: 10px;
    }
    .card-price{
        position: absolute;
        top: 50%;
        right: 5%;
        transform: translateY(-50%);
    }
    .number_button{
        border-radius: 6px !important;
        padding: 10px !important;
    }
    .close-menu-container i {
        cursor: pointer;
    }
    .modal {
        border-radius: 8px;
    }
}

@media(min-width: 1200px){
    .content-container {
        width: 85%;
    }

    .category-title {
        font-size: 24px;
    }
    
}