header {
    width: 100%;
    padding: 10px 20px;
    height: 120px;
    display: flex;
    justify-content: center;
    background-color: #fff;
}

.header-container {
    width: 100%;
    padding: 10px 0px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

nav {
    width: 60%;
    display: flex;
    justify-content: flex-end;
}

.logo-container {
    width: 40%;
    height: 100%;
}

.logo-container img {
    object-fit: contain;
}

.desktop-pages-links-container{
    display: none;
}

.mobile-pages-link-container {
    display: none;
}

.user-actions-container {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.active-flag-container {
    width: 18px;
}

.active-flag-container img {
    object-fit: contain;
}

.user-action-item {
    display: flex;
    align-items: center;
}

.user-action-item i {
    font-size: 22px;
}

.hidden {
    display: none;
}

.mobile-navbar, .languages-modal, .overlay, .no-logged-user-modal, .logged-user-modal, .mobile-logged-user-navbar {
    position: fixed;
    bottom: 0;
    top: 0;
    right: 0;
    left: 10%;
    transform: translateX(100%);
    transition: transform 0.5s; 
    background-color: white;
    padding: 5%;
}

.overlay {
    z-index: 11;
}

.mobile-navbar, .languages-modal, .no-logged-user-modal, .logged-user-modal, .mobile-logged-user-navbar {
    z-index: 12;
}

.mobile-navbar-active, .languages-modal-active, .overlay-active, .no-logged-user-modal-active, .logged-user-modal-active, .mobile-logged-user-navbar-active {
    transform: translateX(0);
}

.mobile-navbar-ul, .admin-logged-menu, .regular-user-menu {
    width: 200px;
    height: 300px;
}

.mobile-navbar-ul:first-child {
    margin-top: 0;
}

.page-link-item, .user-link-item {
    transition: color 0.3s;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 25px;
    cursor: pointer;
}

.shop-item-container {
    position: relative;
    flex-wrap: nowrap!important;
}

.desktop-shop-dropdown {
    position: absolute;
    width: 165px;
    height: auto;
    top: 27px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    z-index: 13;
    opacity: 0;
    padding: 15px 5px;
    pointer-events: none;
    transition: opacity 0.3s;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1), 
    -4px -4px 8px rgba(0, 0, 0, 0.1), 
    4px -4px 8px rgba(0, 0, 0, 0.1), 
    -4px 4px 8px rgba(0, 0, 0, 0.1);
    transition-delay: 0.25s; /* Delay al aparecer */
}

.desktop-shop-dropdown li:first-child {
    margin-bottom: 20px;
}

.desktop-shop-dropdown-active {
    pointer-events: all;
    opacity: 1;
}


.desktop-shop-item-text-container {
    display: flex;
    align-items: center;
}

.desktop-shop-item-text-container:hover * {
    color: var(--red-color);
}

.shop-item-container:hover .desktop-shop-dropdown {
    pointer-events: all;
    opacity: 1!important;
}

.desktop-shop-item-text-container i {
    transition: color 0.3s;
}


.page-link-item a, .user-link-item a, .shop-mobile-span,
header.header .item.header-nav-letter {
    color: black;
    font-size: 20px;
    transition: color 0.3s;
    text-transform: uppercase;
    font-weight: normal;
}

.shop-mobile-span {
    font-size: 20px;
}
.ui.menu.header-dropdown.user-initials-container{
    flex: none;
}
.user-initials {
    font-size: 16px;
    font-weight: 700;
    margin-top: 1px;
    padding: 7.5px;
    background-color: var(--red-color);
    border-radius: 50%;
    color: white;
}

.page-link-item i {
    font-size: 22px;
    margin-left: 3%;
    margin-bottom: 2px;
    transition: transform 0.3s;
}

.arrow-active {
    transform: rotate(180deg);
}


.shop-dropdown {
    max-height: 0px;
    transition: max-height 0.3s, margin-top 0.3s;
    overflow: hidden;
    width: 100%;
}


.shop-dropdown-active {
    margin-top: 2%;
    max-height: 200px!important;
}

.non-scrollable {
    overflow: hidden;
}


.lang-modal-intro:nth-child(1) {
    margin-bottom: 5%!important;
}

.languages-container {
    display: flex;
    justify-content: space-between;
}


.language-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    margin: 0 5%;
}

.lang-modal-intro {
    margin: 0;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
   
}

.sign-in-intro, .lang-modal-intro {
    color: var(--red-color);
}

.line {
    width: 100%;
    height: 2px;
    background-color: var(--grey-color);
    margin: 8% 0;
}

.modal-flag-container {
    width: 100%;
    margin: 0 10%;
}

.modal-flag-container img {
    object-fit: contain;
}


.shop-category-item {
    margin-top: 3%;
    margin-left: 3%;
}

.shop-category-item a {
    font-size: 16px;
}

.mobile-anchor {
    display: flex;
    align-items: center;
}

.close-menu-container, .close-logged-menu-container {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.close-menu-container i, .close-logged-menu-container i {
    color: black;
    font-size: 22px;
}

.sign-intro-container {
    width: 100%;

}

.language-container {
    cursor: pointer;
}

.user-initials-container {
    width: auto;
    justify-content: center;
}
.ui.menu.header-dropdown{
    border: 0;
    box-shadow: none;
    margin: 0;
    width: fit-content;
    align-items: center;
}
.ui.menu.header-dropdown .browse.item::before{
    display: none;
}
.ui.link.list.list a.item:hover{
    color: var(--red-color);
}
.ui.menu.header-dropdown .item{
    font-size: medium;
    padding: 0;
}
.user-initials-container .ui.column *{
    text-align: end;
}
.cart-anchor {
    position: relative;
}
.cart-number {
    position: absolute;
    color: black;
    bottom: 23px;
    left: 9px;
    color: var(--red-color);
    font-weight: 700;
    font-size: 16px;
}
@media(min-width:720px){
    .user-action-item {
        margin-left: 20px;
    }
    .header-container {
        overflow: visible;
    }

    .mobile-navbar, .mobile-logged-user-navbar {
        display: none;
    }

    nav {
        width: 70%;
        display: flex;
        justify-content: space-between;
    }
    
    .menu-container {
        display: none;
    }

    .logo-container {
        width: 30%;
    }

    .user-initials-container {
        position: relative;
        overflow: visible;
    }


    .user-actions-container {
        width: 30%;
        justify-content: space-between;
        margin-left: 5%;
    }

    .active-flag-container {
        width: 22px;

    }

    .page-link-item {
        margin-bottom: 0;
        width: fit-content;
        height: 50%;
        display: flex;
        align-items: center;
    }
    .page-link-item a, .user-link-item a, .shop-mobile-span,
    header.header .item.header-nav-letter {
        font-size: 14px !important;
    }
    .page-link-item a{
        text-align: center;
        width: 100%;
        margin: 0 auto;
        height: fit-content;
    }
    .ui.placeholder.nav-placeholder{
        width: 100%;
        height: 20px;
    }
    .user-action-item {
        margin-left: 0;
    }

    .user-action-item i {
        transition: color 0.3s;
        font-size: 22px;
    }
    
    .triangle {
        display: none;
    }

    .mobile-navbar, .languages-modal, .no-logged-user-modal {
        left: 45%;
    }

    .overlay {
        opacity: 50%;
        left: 0;
    }
    
    .user-link-item a {
        font-size: 14px;
    }

    .close-menu-container {
        display: none;
    }
    .user-logged-list {
        margin-top: 17px;
    }
    .ui.fluid.header-dropdown-items-section{
        width: 250px !important;
    }

}
@media(min-width:768px){
    .desktop-pages-links-container {
        display: flex;
        justify-content: space-around;
        width: 70%;
        align-items: center;
    }
    .ui.menu .item>i.dropdown.icon {
        margin: 0 0 0 .45em;
    }
    .menu.user-initials-container {
        display: flex;
    }
}

@media(min-width:1024px){
    .ui.menu .item>i.dropdown.icon {
        margin: 0 0 0 1em;
    }
    .user-action-item i {
        cursor: pointer;
    }

    .user-icon {
        position: relative;
        left: unset;
    }

    .page-link-item a:hover, .user-action-item i:hover {
        color: var(--red-color);
    }
 
    .header-container {
        max-width: 1200px;
        overflow: visible;
    }

    .page-link-item a,
    .ui.menu.header-dropdown a{
        font-size: 14px;
    }

    .user-initials-container:hover .logged-user-modal {
        pointer-events: all;
        opacity: 1;
    }

    .active-flag-container {
        cursor: pointer;
    }

    .overlay {
        position: absolute;
        left: 50%;
        top: 50%;
        bottom: 0;
        right: 0;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        opacity: 0;
        pointer-events: none;
    }

    .languages-modal {
        position: absolute;
        width: 400px;
        height: 300px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.3s;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .user-initials {
        cursor: pointer;
    }

    .logged-user-modal {
        height: 260px;
    }

    .user-link-item a {
        font-size: 16px;
    }

    .no-logged-user-modal {
        position: absolute;
        opacity: 1;
        width: 350px;
        height: 280px;
        top: 50%;
        left: 50%;
        transform: translate(-90%, 20%);
        pointer-events: none;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        z-index: 12;
        padding: 15px;
        opacity: 0;
        transition: opacity 0.3s;
    }

    .no-logged-user-modal .close-menu-container {
        height: 20px;
        width: 100%;
    }

    .no-logged-user-modal .form-container {
        width: 100%;
        height: 230px;
        background-color: white;
    }

    .no-logged-user-modal .custom-form {
        height: 90%;
        justify-content: space-around;
    }

    .no-logged-user-modal-active {
        opacity: 1;
        pointer-events: all;
    }

    .triangle {
        display: flex;
        position: absolute;
        height: 0;
        border-left: 25px solid transparent; 
        border-right: 25px solid transparent; 
        border-bottom: 40px solid var(--grey-color);
        z-index: 12;
        top: -40px;
        right: 10px;
    }

    .overlay-active, .languages-modal-active {
        pointer-events: all;
    }

    .overlay-active {
        opacity: 0.5;
    }

    .languages-modal-active {
        opacity: 1;
    }

    .languages-modal {
        width: 500px;
        height: 400px;
        padding: 3%;
    }

    .lang-modal-intro {
        font-size: 18px;
    }

    .language-container p {
        margin-top: 10px;
        font-size: 16px;
    }

    .page-link-item {
        margin-bottom: 0;
    }



    .page-link-item a,
    header.header .item.header-nav-letter {
        font-size: 14px;
    }
    .desktop-pages-links-container {
        width: 50%;
    }
    .logo-container {
        height: 95px;
        width: 20%;
    }
    .cart-number {
        font-size: 18px;
    }
}

@media(min-width:1200px){

    .header-container {
        width: 80%;
    }


    .page-link-item a,
    header.header .item.header-nav-letter {
        font-size: 16px;
    }

    .languages-modal {
        padding: 2%;
    }

    .lang-modal-intro {
        font-size: 20px;
    }

    .language-container p {
        margin-top: 10px;
        font-size: 18px;
    }

}
