main {
    max-width: 1200px;
    margin: 0 auto;
}

.category-title {
    margin-bottom: 0!important;
}
.category-title-filters-container {
    margin: 35px 0;
    padding: 0 15px;
}

.dropdown {
    margin-top: 15px;
}
