.main {
  min-height: 70vh;
  padding: 2.5vh 5vw;
}
.main-content-wrapper {
  display: flex;
  width: 100%;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 15px;
}
.main-content-wrapper h1 {
  margin: 0 !important;
}
.table-h3 {
  margin-top: 15px !important;
}
.phones-wrapper.main-content-wrapper {
  flex-direction: column;
  align-items: center;
}
.user-info-wrapper {
  max-width: 300px;
  margin: 0 auto;
}
.user-info-container {
  width: 100%;
  justify-content: space-around;
}
.user-email-field,
.user-info-container,
.gender-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.user-initials-circle {
  padding: 20px;
  border-radius: 50%;
  background: var(--box-shadow-color);
  font-weight: 600;
  font-size: 1.5rem;
}
.user-info-wrapper .form-container form {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.ui.placeholder.menu-placeholder,
.ui.placeholder.image-placeholder {
  height: 55vh;
}
.ui.placeholder.menu-placeholder {
  margin-top: 9.5vh;
  display: none;
}
.user-info-placeholder {
  width: 60%;
  height: 55vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.user-info-placeholder > * {
  width: 100%;
}
.ui.placeholder.image-placeholder {
  max-height: 65px;
  max-width: 65px;
}
.ui.placeholder.image-placeholder .image {
  max-width: 100px;
}
#myGrid {
  width: 100%;
  height: 500px;
}

.total-select-container {
  width: 100%;
}

.order-modal {
  padding: 10px 15px;
}

.order-modal .close-button-container {
  display: flex;
  justify-content: flex-end;
}

.order-modal .close-button-container i {
  font-size: 15px;
}

.order-modal p,
.order-modal h3 {
  margin: 0;
}

.order-modal h2 {
  font-size: 22px;
}

.order-modal h3 {
  font-size: 18px;
}

.order-label-text-container {
  margin-top: 15px;
}

.order-label {
  font-size: 14px;
  font-weight: 700;
}

.order-text {
  font-size: 14px;
  margin-top: 5px !important;
}

.order-text {
  font-weight: 400;
}

#orderStatusSelect {
  padding: 10px 5px;
  margin-top: 5px;
}

.select-loading-container {
  display: flex;
}

.total-sales-cash-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.total-sales-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  height: auto;
  background-color: #ffff;
  padding: 10px 0;
}

.cart-icon,
.money-icon {
  font-size: 30px;
  color: var(--light-red-color);
}

.totals-container {
  margin-top: 15px;
}

.totals-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80%;
}

.totals-container p {
  margin: 0;
}

.total-label {
  font-size: 16px;
  margin-bottom: 10px !important;
}

.total-label:last-child {
  margin-bottom: 0 !important;
}

.title-description {
  margin: 0;
  width: 100%;
  text-align: left;
}

.title-add-product-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.add-product-container {
  height: 100%;
  display: flex;
  align-items: center;
}

.add-product-icon {
  background-color: var(--red-color);
  font-size: 35px;
  font-weight: 500;
  color: white;
  cursor: pointer;
}
.files_thumb_field {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 12.5px;
}
.image-radio-box {
  width: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;
}
.image-radio-box .image-container {
  height: 80%;
  object-fit: cover;
}
.remove-variation-btn.remove-btn {
  font-size: 1.6rem;
}
.ui.form .field.variation-header-field {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2.5vh auto;
}
.ui.form .add-size-button-field {
  width: fit-content;
  margin: 2.5vh auto;
}
.variation-sizes-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 10px;
}
.variation-size-container {
  width: 22.5%;
  border: 1px solid var(--dark-grey-color);
  border-radius: 10px;
  padding: 10px;
  position: relative;
}
.variation-size-container * {
  text-align: center;
}
.ui.form .variation-field select {
  padding: 5px 0;
  text-align: center;
}

.ui.modal > .content.order-detail-modal-content{
  padding: 5vh 0;
}
.ui.card.order-detail-card {
  margin: 0 auto;
  width: 95%;
  max-width: 550px;
}
.ui.card.order-detail-card .content::after,
.ui.card.order-detail-card .content::before {
  display: none;
}
.ui.card.order-detail-card .content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.modal-card-header-span {
  color: #000;
  font-weight: 600;
  font-size: small;
  width: 50%;
}
.modal-card-content-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  font-size: medium;
}
.order-detail-card-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5vh;
}
.order-detail-card-section .card-label.label {
  font-size: large;
}
.order-detail-card-section .ui.card {
  display: flex;
  flex-direction: row;
  height: 4.25rem;
  justify-content: space-evenly;
  width: 80%;
  max-width: 300px;
  padding: 10px 0;
}
.order-detail-card-section .ui.card::after{
  display: none;
}
.card-shipping-detail.order-detail-card-section .ui.card,
.card-billing-detail.order-detail-card-section .ui.card {
  height: fit-content;
}
.card-logo-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
}
.card-logo-i{
  font-size: 2.5rem;
  color: var(--dark-grey-color);
}
.card-label-container {
  width: 60%;
  display: flex;
  align-items: center;
}
.card-shipping-detail .card-label-container,
.card-billing-detail .card-label-container{
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}
.card-billing-detail .card-label-container{
  align-items: center;
}
.card-label {
  font-size: medium;
  font-weight: 600;
}
.card-desc{
  font-size: small;
}
@media (min-width: 768px) {
  .main {
    padding: 0;
    padding-left: 5vw;
  }
  .main .user-menu-btn {
    width: 40%;
  }
  .main .main-content-wrapper {
    width: 60%;
    padding: 2.5vh 0;
  }
  .main > div {
    margin: 6.5vh 0px;
  }
  .main > .main-content-wrapper {
    margin: 6.5vh auto;
  }
  .main-content-wrapper.address-wrapper {
    padding: 0;
    justify-content: flex-start;
    margin-left: 2.5vw;
  }
  .ui.placeholder.menu-placeholder {
    display: block;
    width: 40%;
  }
  .ui.card.order-detail-card{
    width: 80%;
  }
  .modal-card-header-span {
    font-size: medium;
  }
  .order-detail-card-section .ui.card{
    max-width: 400px;
  }
}
@media (min-width: 1024px) {
  .ui.placeholder.menu-placeholder {
    width: 30%;
  }
  .main .user-menu-btn {
    width: 20%;
  }
  .main .main-content-wrapper {
    width: 65%;
  }
  .ag-row {
    cursor: pointer;
  }

  .order-modal .close-button-container i {
    cursor: pointer;
  }

  .order-label,
  .order-text {
    font-size: 18px;
  }
  .title-description {
    font-size: 22px;
  }
}
