<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/css/configSideMenu.css">
    <script type="module" src="/scripts/configSideMenu.js"></script>
    <title>List</title>
</head>

<body>
    <p>CONFIG !!</p>
</body>
</html>