<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/css/faq.css">
    <script type="module" src="/scripts/aboutUs.js"></script>
    <title>Nosotros</title>
</head>
<body data-page_name="faq">
    <%- include('./partials/header.ejs') %>
    <main class="faq-main">
        <div class="ui placeholder title-placeholder">
            <div class="image"></div>
        </div>
        <div class="faq-placeholders-container">
            <div class="faq-first-row-placeholders-container">
                <div class="ui placeholder image-placeholder">
                    <div class="image"></div>
                </div>
                <div class="ui placeholder image-placeholder">
                    <div class="image"></div>
                </div>
            </div>
            <div class="ui placeholder image-placeholder">
                <div class="image"></div>
            </div>
        </div>
        <h1 class="page-title red"></h1>
       
    </main>
  <%- include('./partials/footer.ejs') %>
</body>
</html>