<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/css/productCard.css">
    <link rel="stylesheet" href="/css/form.css">
    <link rel="stylesheet" href="/css/checkoutCard.css">
    <link rel="stylesheet" href="/css/userMenuBtn.css">
    <link rel="stylesheet" href="/css/index.css">
    <script type="module" src="/scripts/index.js"></script>
    <script type="module" src="/scripts/header.js"></script>
    <title>Index</title>
</head>
<body data-page_name="index">
  <%- include('./partials/header.ejs') %>
  <!-- <div class="ui icon top right pointing dropdown user-menu-btn mobile-only">
    <i class='bars icon' ></i>
    <div class="menu">
      <div class="header">Navigate</div>
        <a class="item logo_active" href="#">
          <i class='bx bx-user-circle'></i>
          <span class="tooltip">Editar Perfil</span>
        </a>
        <a class="item client_logo active-menu-btn" href="#">
          <i class='bx bx-map'></i>
          <span class="tooltip">Direcciones</span>
        </a>
        <a class="item quote_logo" href="#">
          <i class='bx bx-spreadsheet'></i>
          <span class="tooltip">Historial de Compras</span>
        </a>
      <div class="ui divider"></div>
      <div class="header">USUARIO</div>
      <a href="/logout" class="item">
        <i class='bx bx-door-open'></i>
        <span class="tooltip">Cerrar Sesion</span>
      </a>
    </div>
  </div> -->
  <main class="main">
    
    <div class="products-container"></div>

    <div class="slider-container">
      <div class="second-slider-container">

         <div class="slider">

            <div class="slider-img-container">
               <img src="/img/home/banner1rec.jpeg" alt="">
            </div>

            <div class="slider-img-container">
               <img src="/img/home/banner2.jpeg" alt="">
            </div>

            <div class="slider-img-container">
              <img src="/img/home/banner3.jpeg" alt="">
           </div>

         </div>


      </div>


    </div>

    <div class="dots-container">
    </div>

    <section class="extra-fotos-container">
      <div class="extra-img-container">
        <img src="/img/index/index-foto1.jpg" alt="index-foto1">
      </div>
      <div class="extra-img-container">
        <img src="/img/index/index-foto2.jpg" alt="index-foto2">
      </div>
    </section>

   <div class="content-container">
    <h3 class="page-title red"></h3>

    <div class="products-skeleton-container">
      <div class="skeleton-product"></div>
      <div class="skeleton-product"></div>
      <div class="skeleton-product"></div>
      <div class="skeleton-product"></div>
    </div>
   
    <div class="products-carousel">
    </div> 


    <div class="company-info-container">
      <div class="info-item-container" data-translation="trajectory">
        <i class="item-icon bx bx-star"></i>
        <p class="info-title"> </p>
        <p class="info-description"></p>
      </div>
      <div class="info-item-container" data-translation="recognition">
        <i class="item-icon bx bx-trophy"></i>
        <p class="info-title"> </p>
        <p class="info-description">s</p>
      </div>
      <div class="info-item-container" data-translation="shipping">
        <i class="item-icon bx bxs-truck"></i>
        <p class="info-title"></p>
        <p class="info-description"></p>
      </div>
    </div>
   </div>
   


  </main>
  <%- include('./partials/footer.ejs') %>
</body>
</html>