<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/css/homeLabel.css">
    <link rel="stylesheet" href="/css/addressCard.css">
    <script type="module" src="/scripts/index.js"></script>
    <title>Index</title>
</head>
<body>
  <main class="main">
  </main>
</body>
</html>