<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/css/homeLabel.css">
    <link rel="stylesheet" href="/css/addressCard.css">
    <link rel="stylesheet" href="/css/productCard.css">
    <link rel="stylesheet" href="/css/form.css">
    <link rel="stylesheet" href="/css/checkoutCard.css">
    <link rel="stylesheet" href="/css/footer.css">
    <script type="module" src="/scripts/index.js"></script>
    <script type="module" src="/scripts/header.js"></script>
    <title>Index</title>
</head>
<body>
  <%- include('./partials/header.ejs') %>
  <main class="main">

    <div class="products-container"></div>
  </main>
  <footer class="footer">
    <div class="footer_logo_container"></div>
    <div class="footer_information_container">
      <div class="logo_text_container">
        <i class='bx bx-phone'></i>
        <p class="text">11-4242-4213</p>
      </div>
      <div class="logo_text_container">
        <i class='bx bx-time-five' ></i>
        <p class="text">9 a 18 hs</p>
      </div>
      <div class="logo_text_container">
        <i class='bx bx-map'></i>
        <p class="text">Sarmiento 1938 | CABA</p>
      </div>
    </div>
    <div class="footer_socials_container">
      <i class='bx bxl-facebook-circle'></i>
      <i class='bx bxl-whatsapp' ></i>
      <i class='bx bxl-instagram'></i>
    </div>
    <div class="footer_copyright_container">
      <p class="copyright_text">Copyright © 2024 | Neotango Shoes</p>
    </div>
  </footer>
</body>
</html>