<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/css/productCard.css">
    <link rel="stylesheet" href="/css/productList.css">
    <script type="module" src="/scripts/productList.js"></script>
    <title>List</title>
</head>

<body data-page_name="category">
    <%- include('./partials/header.ejs') %>
    <main>
        <h2></h2>
        <div class="products-container">
            <div class="ui placeholder image-placeholder">
                <div class="image"></div>
            </div>
            <div class="ui placeholder image-placeholder">
                <div class="image"></div>
            </div>
            <div class="ui placeholder image-placeholder">
                <div class="image"></div>
            </div>
            <div class="ui placeholder image-placeholder">
                <div class="image"></div>
            </div>
            <div class="ui placeholder image-placeholder">
                <div class="image"></div>
            </div>
        </div>
    </main>
</body>