<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/css/userProfile.css">
    <script type="module" src="/scripts/userProfile.js"></script>
    <title>List</title>
</head>

<body>
    <%- include('./partials/header.ejs') %>
    <%- include('./partials/configSideMenu.ejs') %>
</body>
</html>