<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ('./partials/head.ejs') %>
    <link rel="stylesheet" href="/css/userEmailVerify.css" />
    <script src="/scripts/userEmailVerify.js" type="module"></script>
    <title>Verificar Email</title>
  </head>
  <body data-page_name="userVerify">
    <%- include ('./partials/header.ejs') %>
    <main class="main">
      
    </main>
    <%- include ('./partials/footer.ejs') %>
  </body>
</html>
