<%- include('./wpp.ejs') %>
<footer class="footer">
    <div class="footer_logo_container">
        <img src="/img/logo/logo.jpg" alt="footer_brand_logo">
    </div>
    <div class="footer_information_container">
      <div class="logo_text_container">
        <i class='bx bx-phone'></i>
        <p class="text">11-4242-4213</p>
      </div>
      <div class="logo_text_container">
        <i class='bx bx-time-five' ></i>
        <p class="text">9 a 18 hs</p>
      </div>
      <div class="logo_text_container">
        <i class='bx bx-map'></i>
        <p class="text">Sarmiento 1938 | CABA</p>
      </div>
    </div>
    <div class="footer_socials_container">
      <i class='bx bxl-facebook-circle'></i>
      <i class='bx bxl-whatsapp' ></i>
      <i class='bx bxl-instagram'></i>
    </div>
    <div class="footer_copyright_container">
      <p class="copyright_text">Copyright © 2024 | Neotango Shoes</p>
    </div>
  </footer>